@font-face {
  font-family: "weeblysleek";
  src: url("./assets/fonts/weblysleekuil.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "weeblysleek";
  src: url("./assets/fonts/weblysleekuisb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;

  /*Removes scroll bar (default is content-box)*/
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  /* *** Makes it so 1rem = 10px *** */

  overflow-x: hidden;
}

body {
  font-family: "Roboto Mono", monospace;
  /* display: flex; */
}

/* .webpage-root-element {
  position: relative;
} */

/* Tooltip Styling */

.tooltip-text {
  font-size: 1.5rem;
  padding: 1rem;
  left: 10px;
}

.tippy-tooltip {
  color: red !important;
}

/* Sidebar styling */
.social-side-bar {
  background: #121212;

  position: fixed;

  min-height: 100vh;
  width: 80px;

  top: 0;
  left: 0;

  z-index: 100;
}

/* sidebar nav buttons styling  &  sidebar social buttons styling */

.sidebar-nav-buttons,
.social-buttons {
  width: 80px;
  left: 0px;
  position: fixed;
}

/* sidebar nav buttons styling */

.sidebar-nav-buttons {
  top: 5rem;
}

/* sidebar social buttons styling */

.social-buttons {
  bottom: 5rem;
}

.sidebar-button-container {
  background: none;

  position: relative;
  left: 10%;

  width: 60%;
  height: 60%;
  padding: 1.25rem;
  margin: 2.5rem 0.75rem;
  border-radius: 5px;
  cursor: pointer;

  transition: background 0.25s ease-in-out;
}

.sidebar-button-container:hover {
  background: rgb(44, 44, 44);
}

.social-buttons img {
  display: block;
  position: relative;

  margin: auto;

  height: 100%;
  width: 100%;
  cursor: pointer;
  top: 10%;
}

.sparkle-image-button {
  position: relative;
  text-align: center;
  font-size: 2rem;
  left: -2px;
  top: -3px;
}

/* img.side-bar-button {
  cursor: pointer;
  padding-top: 1rem;
} */

/* .page-content {
  position: relative;
  

  
  left: 40px;
  
  width: calc(100%);

  
} */

/* Hero section styling */

.hero {
  background: none;

  min-height: 100vh;
  width: 100vw;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background: linear-gradient(to top, rgba(149, 149, 149), transparent 15%);
  /*
  background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1em,
      #3f3f3f25 50%
    ),
    repeating-linear-gradient(45deg, #ffffff, #ffffff 1em, transparent 1em),
    repeating-linear-gradient(
      45deg,
      #afafaf,
      #e9e9e9 1em,
      #ff575715 1em,
      #ff575715 50%
    );
  background-size: 3em 3em, 2em 2em;
  */
}

.hero-container {
  display: flex;
  flex-direction: row;
  min-width: 300px;
  max-width: 100rem;
  align-items: center;

  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);

  transform: rotate(1.2deg);
}

.hero-image {
  /* font-family: "weeblysleek";
  color: rgb(61, 61, 61);
  font-size: calc(2.4rem + 1.5vw);
  font-weight: 800; */

  display: flex;

  margin: 0;
  padding: 3.5rem;
  width: 300px;
  display: block;
}

.hero-text {
  font-family: "weeblysleek";
  color: black;
  text-shadow: 0 0 5px #858585e3;
  font-size: calc(1rem + 1.2vw);
  display: block;

  margin: 0;
  font-weight: 300;
  line-height: calc(3rem + 1vw);

  padding: 3rem;
}

.name-text {
  text-shadow: none;
  font-family: "Permanent Marker", cursive;
  color: #f44546;
}

/* Hero Boids Background Styling */

#boids-sketch,
#defaultCanvas0 {
  position: absolute;
  z-index: -1;
}

/* Top nav styling (Desktop only) */

.top-nav-container {
  width: calc(100vw - 80px);
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 1px;
  justify-content: center;
  z-index: 10;
  height: 100px;
}

.top-nav-btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 10vw;
  background: none;

  opacity: 1;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.top-nav-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  animation: TopNavIdle 2s ease-in-out infinite;
}

.top-nav-image1,
.top-nav-image2 {
  position: relative;
  width: 10rem;
}

.top-nav-image1 {
  top: 3rem;
}

.top-nav-image2 {
  top: -3rem;
}

.top-nav-text {
  position: relative;
  /* move nav text higher */
  top: -6rem;
  font-family: "weeblysleek";
  font-size: 2.75rem;
  text-align: center;
}

.top-nav-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20vh);
}

/* Bottom Nav Styling (Desktop only) */

.bottom-nav-container {
  width: calc(100vw - 80px);
  position: fixed;
  display: flex;
  flex-direction: row;
  bottom: 1px; /* Was 80vh */
  justify-content: center;
  align-items: center;
  z-index: 10;
  height: 100px;
}

.bottom-nav-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 10vw;
  z-index: 2;
  background: none;

  opacity: 1;
  /* Smooth appear/disappear transition */
  transition: opacity 0.4s ease, transform 0.4s ease, color 0.3s ease;
}

.bottom-nav-btn:hover {
  color: #3c3c50;
}

.btm-nav-text {
  position: relative;
  /* Lower nav text a bit */
  bottom: -5.5rem;
  font-family: "weeblysleek";
  font-size: 2.75rem;
  text-align: center;
}

.btm-nav-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  animation: BtmNavIdle 2s ease-in-out infinite;
}

.btm-nav-image1,
.btm-nav-image2 {
  position: relative;
  width: 10rem;
}

.btm-nav-image1 {
  bottom: -3.5rem;
}

.btm-nav-image2 {
  bottom: 2.5rem;
}

.bottom-nav-hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateY(20vh);
}

/* Skills section styling */

.skills-section {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  /* TODO: Since height was removed, change scroll position code in main.js */

  /* background: darkslategray; */
  background-image: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 1em,
      #3f3f3f25 50%
    ),
    repeating-linear-gradient(45deg, #ffffff, #ffffff 1em, transparent 1em),
    repeating-linear-gradient(
      45deg,
      #afafaf,
      #e9e9e9 1em,
      #ff575715 1em,
      #ff575715 50%
    );
  background-size: 3em 3em, 2em 2em;
}

.page-transition-color {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom, rgba(149, 149, 149), transparent 7%);
  position: absolute;
  z-index: 1;
}

.skills-section-title {
  display: flex;

  margin: 5rem 0rem 5rem 0rem;

  height: 8rem;
  width: 20rem;
  font-size: 3.25rem;

  transform: rotate(-1.25deg);

  justify-content: center;
  align-items: center;
  text-align: center;
  align-self: center;

  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);

  z-index: 5;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 1rem;
  justify-content: space-between;

  height: 100%;
  width: 85%;
  align-self: center;
  padding: 0rem;
}

.skill-category {
  margin: 3rem;

  height: 55rem;
  width: 40rem;
  border-radius: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.2);
}

.category-title {
  padding: 1rem;
  margin: 1rem;

  text-align: center !important;
}

.category-title h3 {
  font-family: "weeblysleek";
  color: black;
  font-size: 2.5rem;

  /* font-family: "Permanent Marker", cursive; */
  /* font-size: 2.5rem;
  font-weight: 100; */

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  text-align: center;
  align-self: center;
  padding: 3rem 0 0 0;
}

/* .skill-category:nth-child(1) {
  transform: rotate(-0.9deg) translate(10px, 8px);
}

.skill-category:nth-child(2) {
  transform: rotate(0.8deg);
}

.skill-category:nth-child(3) {
  transform: rotate(-0.7deg) translate(-18px, 20px);
} */

.skills-list {
  background: none;
  position: relative;
  left: 3rem;

  margin: 2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;

  width: inherit;

  list-style: none;
}

.skills-list p {
  background: none;

  color: #000000;

  font-family: inherit;
  font-size: 1.8rem;

  margin: 0.5rem 1.5rem;
  background: rgba(231, 251, 45, 0.404);
  padding: 0, 1rem;
}

.list-bullet {
  font-size: 3rem;
}

/* Projects section styling */

.projects-section {
  position: relative;
  min-height: 100vh;
  background: darkkhaki;
}

/* Graph Paper effect */

.skills-section-title,
.hero-container,
.skill-category {
  background-color: #eaeaea;

  background-image: -webkit-repeating-linear-gradient(
      90deg,
      rgba(0, 191, 255, 0.2),
      rgba(0, 191, 255, 0.2) 1px,
      solid 1px,
      solid 15px
    ),
    -webkit-repeating-linear-gradient(0deg, rgba(255, 105, 180, 0.2), rgba(
            255,
            105,
            180,
            0.2
          )
          1px, solid 1px, solid 15px);
  background-image: -moz-repeating-linear-gradient(
      90deg,
      rgba(0, 191, 255, 0.2),
      rgba(0, 191, 255, 0.2) 1px,
      solid 1px,
      solid 15px
    ),
    -moz-repeating-linear-gradient(0deg, rgba(255, 105, 180, 0.2), rgba(
            255,
            105,
            180,
            0.2
          )
          1px, solid 1px, solid 15px);
  background-image: -o-repeating-linear-gradient(
      90deg,
      rgba(0, 191, 255, 0.2),
      rgba(0, 191, 255, 0.2) 1px,
      solid 1px,
      solid 15px
    ),
    -o-repeating-linear-gradient(0deg, rgba(255, 105, 180, 0.2), rgba(
            255,
            105,
            180,
            0.2
          )
          1px, solid 1px, solid 15px);
  background-image: repeating-linear-gradient(
      90deg,
      rgba(0, 191, 255, 0.2),
      rgba(0, 191, 255, 0.2) 1px,
      transparent 1px,
      transparent 15px
    ),
    repeating-linear-gradient(
      0deg,
      rgba(255, 105, 180, 0.2),
      rgba(255, 105, 180, 0.2) 1px,
      transparent 1px,
      transparent 15px
    );
}

/* Animations */

@keyframes BtmNavIdle {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
}

@keyframes TopNavIdle {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
}

@media screen and (max-width: 1250px) {
  .social-side-bar,
  .social-side-bar * {
    display: none;
  }

  .hero-container {
    width: 100px;
    flex-direction: column;
    min-width: 250px;
  }

  .hero-image {
    width: 125px;
    padding: 2.5rem 0 2rem 0;
  }

  .hero-text {
    width: 250px;
    font-size: calc(1rem + 0.75vw);

    margin: 0;
    font-weight: 300;
    line-height: calc(2rem + 1vw);

    padding: 0rem 2.5rem 2rem 2rem;
  }
}
