@font-face {
  font-family: "weeblysleek";
  src: url("./assets/fonts/weblysleekuil.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "weeblysleek";
  src: url("./assets/fonts/weblysleekuisb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;

  /*Removes scroll bar (default is content-box)*/
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* *** Makes it so 1rem = 10px *** */
}

body {
  font-family: "Roboto Mono", monospace;
  display: flex;
}

.webpage-root-element {
  position: relative;
}

.social-side-bar {
  background: #121212;

  position: fixed;

  height: 100%;
  width: 80px;

  top: 0;
  left: 0;

  z-index: 1; /* Makes side bar stay on top of page elements. */
}

.social-buttons {
  width: 80px;
  left: 0;
  bottom: 5rem;
  position: fixed;
}

.social-button-container {
  background: none;

  position: relative;
  left: 10%;

  width: 60%;
  height: 60%;
  position: relative;
  padding: 1.25rem;
  margin: 0.5rem;
  border-radius: 5px;
  cursor: pointer;

  transition: background 0.25s ease-in-out;
}

.social-button-container:hover {
  background: rgb(44, 44, 44);
}

.social-buttons img {
  display: block;
  position: relative;

  margin: auto;

  height: 100%;
  width: 100%;
  cursor: pointer;
  top: 10%;
}

.sparkle-image-button {
  position: relative;
  text-align: center;
  font-size: 2rem;
  left: -2px;
  top: -3px;
}

/* img.social-image-button {
  cursor: pointer;
  padding-top: 1rem;
} */

.empty-social-container {
  position: relative;
  bottom: 100vh;
}

.page-content {
  position: relative;
  /* border: 5px solid red; */

  /* Margin moved to the left for the sidebar */
  left: 80px;
  width: calc(100vw - 80px);
  height: 100vh;
  /* background: brown; */
}

header {
  position: relative;
}

nav {
  display: flex;
  flex-direction: row;
  min-height: 10vh;

  /* Padding makes it so that the height does not get anymore squished bc of the padding */
  padding: 2rem;
}

.nav-links {
  background: #16a11f;

  display: flex;

  flex: 1 1 5rem;

  justify-content: space-around;
  align-items: center;
}

.nav-links ul {
  display: flex;
  flex-direction: row;

  text-decoration: none;

  list-style: none;
}

.nav-links ul li {
  padding: 1rem 1rem;
  justify-content: space-evenly;
  font-size: calc(5px + 1vw);
}

.nav-links a {
  color: violet;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.hero {
  min-height: 90vh;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-container {
  /* background: #353535;
  max-width: 500px;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  /* display: flex;
  flex-direction: column; */
  /* height: 40%; */
  /* align-items: center;
  justify-content: center; */
  /* margin: 0 auto;
  text-align: center;
  vertical-align: baseline; */

  background: #353535;
  min-width: 300px;
  width: 40%;
}

.hero-title {
  font-family: "weeblysleek";
  color: aliceblue;
  font-size: calc(2.4rem + 1.5vw);
  font-weight: 800;
  text-shadow: 0 0 5px #272727e3;
  margin: 0;
  padding: 1rem;
  text-align: center;
  display: block;
}

.hero-text {
  font-family: "weeblysleek";
  color: aliceblue;
  font-size: calc(1.2rem + 1.5vw);
  display: block;

  margin: 0;
  font-weight: 300;
  line-height: 4rem;

  padding: 3rem;
}

#boids-sketch {
  position: absolute;
  z-index: -1;
}
